@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

input:focus {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 60s linear infinite;
}

.animate-marquee:hover,
.animate-marquee2:hover {
  animation-play-state: paused;
}